/* CSS Document */
body	{font-family: Verdana, Lucida, Arial, sans-serif;font-size: 11px;color: #000;background: #e8e3cf;background-image: url(/tree/img/homebg.gif);background-position: 0 0;background-repeat: no-repeat;}
input	{font-size: 9px;background-color: #fff;color: #666;margin: 0 auto;}
#cse-search-box1	{position: absolute;top:4px;right:10px;}
#sitenav	{position: absolute;top:1px;right: 180px;margin-left: 10px;background: #e8e3cf;border-bottom: 1px solid #ddd8bf;}
#sitenav ul	{padding: 0;margin: 1px 10px;border: 0;}
#sitenav ul li	{float: left;text-transform: lowercase;font-family: Arial, Helvetica, sans-serif;font-size: 11px;letter-spacing: 2px;padding: 2px;width: 50px;text-align:center;}
#sitenav ul li.med	{width: 60px;}
#sitenav ul li.long	{width: 70px;}
#sitenav ul li.vlong	{width: 80px;}
#sitenav li ul	{position: absolute;width: 100px;left: -10000px;margin: 2px 0;border: 1px solid #ddd8bf;border-bottom: 0;}
#sitenav li ul li	{width: 96px;background: #f3f0e2;letter-spacing: 0;text-align: left;padding: 2px;border-bottom: 1px solid #ddd8bf;}
#sitenav ul li a	{color: #7d7a6e;padding: 0;margin: 0;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 11px;}
#sitenav li a:hover	{color: #3f2800;text-decoration: underline;background: #f8f7f2;}
#sitenav li ul li a:hover	{background: #f8f7f2;}
#sitenav li:hover ul {left: auto;}
#sitenav li.sfhover ul {left: auto;margin-left: -40px;}
h2, h3, h4	{font-weight: bold;font-family: Arial, Helvetica, sans-serif;color: #5d5040;}
p 	{margin: 10px 0 15px 0;padding:0;font-size:11px;line-height:1.4;}
a:link	{text-decoration:none;color: #000099;background:transparent;cursor:pointer;}
a:visited	{text-decoration:none;color: #8141b1;background:transparent;}
a:hover	{text-decoration:underline;color:#ff3300;background:transparent;cursor:pointer;}
a:active	{text-decoration:underline;color: #9966cc;background: transparent;cursor: pointer;}	
a.readmore, a.featured	{display: block;text-align: right;font-family:Arial,Helvetica,sans-serif;font-size:11px;padding:10px 0;background-position:42px 10px;background-repeat:no-repeat;background-image:url(/tree/img/tinylink.png);}
#randomhome a.readmore	{position: absolute; top: 533px; padding: 0 0 0 70px;background-position:55px 3px;}
#randomhome p a.readmore	{position: static; padding: 10px 0;background-position:105px 15px;}
#abouthome a.readmore	{background-position:425px 5px;}
a.imginfo	{font-size: 9px;display: block;padding: 0 10px 0 0;text-align: right;}
ul 	{font-size: 11px;line-height: 1.3;list-style-type: none;list-style-image: none;}
.hidden {display: none;}
#explorehome	{background: #f4f0e1;width: 770px;margin: 80px auto 20px auto;border: 1px solid #908d80;voice-family: "\"}\"";voice-family: inherit;background: transparent;} /* voice family hack to give box a solid background in IE5/Win where I cannot get it to size properly */
/* commented backslash hack v2 for hiding things from IEMac \*/
#explorehome	{width: 735px;}
/* end hack */
#explorehome h2	{background: #f4f0e1;text-align: center;font-size: 12px;letter-spacing: 5px;margin: 0;padding: 5px;border-bottom: 1px solid #908d80;opacity: .7;filter: alpha(opacity=70);-moz-opacity: .7;}
#explorehome h3	{text-align: center;font-size: 12px;letter-spacing: 1px;color: #5d5040;margin: 0;padding: 0;border: 0;}
#browsehome	{float: left;width: 150px;height: 430px;padding: 10px;background: #f8f6eb;opacity: .7;filter: alpha(opacity=70);-moz-opacity: .7;voice-family: "\"}\""; voice-family: inherit;width: 125px;}	/* voice family hack to keep box from becoming too narrow in IE5/Win */
#browsehome h3 a	{text-decoration: none;color: #5d5040;}
#browsehome h4	{font-size: 11px;font-weight: normal;text-align: center;color: #452c1e;margin: 20px 0 0 0;}
#browsehome ul	{padding: 10px 0 25px 0;margin: 0;}
#browsehome ul a	{display: block;text-align: center;padding: 2px 0;text-decoration: none;font-size: 10px;}			
#browsehome input	{display: block;font-size: 9px;background-color: #fff;color: #666;}
#newshome	{margin: 100px -10px 0 -10px;padding-top: 10px;border-top: 1px dotted #908d80;}
#newshome p	{font-family: Arial, Helvetica, sans-serif;line-height:1.4;margin: 10px 20px}	
.login	{margin-top: 40px;padding-top: 10px;color: #5d5040;border-top:1px dotted #ddd8bf;}
.login ul li {font-size: 10px;text-align: center}
#overviewhome	{float: left;width: 398px;height: 450px;border-left: 1px dotted #908d80;border-right: 1px dotted #908d80;background-color: #fcfcfc;margin: 0;}
#overviewhome img	{border: 0;}
#aboutoverview	{position: absolute;top: 500px;margin-left: -200px;padding: 25px;letter-spacing: 1px;}/* voice family hack to keep links from drifting off to the right in IE5/Win */
html>body #aboutoverview	{margin-left: 230px;}/* child hack to keep link from drifting off to the right in IE/Win */
#aboutoverview a, #aboutoverview a:visited	{color: #f8f7f2;text-decoration: none;}
#aboutoverview:hover a	{color: #aaa;}
#aboutoverview a:hover {color: #ff3300;text-decoration: underline;}
#randomhome	{float: left;height: 430px;padding: 10px;background: #f4f0e1;color: #666;width: 170px;}
.randomtaxon	{display: block;margin: 15px auto;text-align: center;font-family: Arial, Helvetica, sans-serif;}
.randomtaxon a	{font-weight: bold;text-decoration: none;display: block;font-family: Verdana, Lucida, Arial, sans-serif;padding: 0 0 4px 0;}
.randomimg	{width: 150px;display: block;margin: 10px auto;border: 1px solid #999;text-decoration: none;}
.randompreview	{font-family: Arial, Helvetica, sans-serif;text-align: justify;}
#abouthome	{clear: both;border-top: 1px solid #908d80;background: #f4f0e1;padding: 10px 20px;color: #5d5040;line-height: 1.4;text-align: justify;}
#abouthome a	{padding: 0 0 0 12px;background-position:0 3px;background-repeat:no-repeat;background-image:url(/tree/img/tinylink.png);}	
#abouthome a.readmore	{padding: 0 25px 10px 0;}
#Darwin	{background: transparent;padding: 10px 30px;color: #5d5040;margin: 20px auto 0 auto;width: 500px;}
#Darwin	img	{float: left;margin-top: 8px;border: 1px solid #908d80;}
#Darwin	p	{font-size: 11px;line-height: 1.3;text-align: justify;font-style: italic;margin: 5px 80px 5px 120px;}
#Darwin	span	{font-size: 11px;display: block;text-align: right;padding: 10px 20px;}
#homefooter	{display: block;background: #e8e3cf;padding: 20px 0;margin: 5px auto;text-align: center;}
#quicklinks	{padding: 2px 0 2px 0;text-align: center;background: transparent;width: 520px;margin-left: auto;margin-right: auto;}
#quicklinks ul {list-style: none;background-color: #fff;margin: 0;padding: 0;border: 0;}
#quicklinks li {display: inline;border-right: 1px solid #e8e3cf;padding: 4px 4px;}
#quicklinks li.lastquick {border: 0;}
#quicklinks a 	{cursor: pointer;font-family:  Arial, Helvetica, sans-serif;font-size: 9px;letter-spacing: 3px;text-transform: lowercase;text-align: center;}	
#quicklinks a:link, #quicklinks a:visited, .policy a:link, .policy a:visited  {font-weight: normal;text-decoration : none;color: #908d80;}
#quicklinks a:hover, #quicklinks a:active, .policy a:hover, .policy a:active	{font-weight: normal;text-decoration: none;color: #5d5040;}
.copyright {font-size: 9px;text-align: center;color: #666;padding: 10px 0;}
.ua {font-size: 9px;text-align: center;color: #666;padding: 2px;margin: 0 50px;}
.ua img {vertical-align: middle;margin-right: 10px;}
.policy {font-size: 9px;text-align: center;font-weight: normal;letter-spacing: 2px;display: block;margin-left: auto;margin-right: auto;padding: 10px 0 0 0;}